<launch>
	<arg name="pose" default="odom" />

	<include file="$(find pioneer_mrs)/config/robot-gazebo.xml" ns="robot1">
		<arg name="hostname" value="robot1" />
		<arg name="pose" value="$(arg pose)" />
		</include>

	<include file="$(find pioneer_mrs)/config/robot-gazebo.xml" ns="robot2">
		<arg name="hostname" value="robot2" />
		<arg name="pose" value="$(arg pose)" />
		</include>

	<include file="$(find pioneer_mrs)/config/robot-gazebo.xml" ns="robot3">
		<arg name="hostname" value="robot3" />
		<arg name="pose" value="$(arg pose)" />
		</include>

	<include file="$(find pioneer_mrs)/config/robot-gazebo.xml" ns="robot4">
		<arg name="hostname" value="robot4" />
		<arg name="pose" value="$(arg pose)" />
		</include>

	<include file="$(find pioneer_mrs)/config/robot-gazebo.xml" ns="robot5">
		<arg name="hostname" value="robot5" />
		<arg name="pose" value="$(arg pose)" />
		</include>

</launch>
