<launch>
	<arg name="hostname" />
	<arg name="machine" default="remote"/> <!-- remote, mobilesim, or gazebo -->
	<arg name="pose" default="odom" /> <!-- odom, vicon, or gazebo -->
	<arg name="port" />

	<include file="$(find pioneer_mrs)/config/robots.machine" />

	<include file="$(find pioneer_mrs)/config/vicon.xml" if="$(eval arg('pose') == 'vicon')"/>

	<!--include file="$(find pioneer_mrs)/launch/mobilesim.launch" if="$(eval arg('machine') == 'mobilesim')"/-->

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="robot1">
		<arg name="hostname" value="robot1" />
		<arg name="machine" value="robot1" if="$(eval arg('machine') == 'remote')"/>
		<arg name="pose" value="$(arg pose)" />
		<arg name="port" value="localhost:8101" if="$(eval arg('machine') == 'mobilesim')"/>
		</include>

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="robot2">
		<arg name="hostname" value="robot2" />
		<arg name="machine" value="robot2" if="$(eval arg('machine') == 'remote')"/>
		<arg name="pose" value="$(arg pose)" />
		<arg name="port" value="localhost:8102" if="$(eval arg('machine') == 'mobilesim')"/>
		</include>

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="robot3">
		<arg name="hostname" value="robot3" />
		<arg name="machine" value="robot3" if="$(eval arg('machine') == 'remote')"/>
		<arg name="pose" value="$(arg pose)" />
		<arg name="port" value="localhost:8103" if="$(eval arg('machine') == 'mobilesim')"/>
		</include>

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="robot4">
		<arg name="hostname" value="robot4" />
		<arg name="machine" value="robot4" if="$(eval arg('machine') == 'remote')"/>
		<arg name="pose" value="$(arg pose)" />
		<arg name="port" value="localhost:8104" if="$(eval arg('machine') == 'mobilesim')"/>
		</include>

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="robot5">
		<arg name="hostname" value="robot5" />
		<arg name="machine" value="robot5" if="$(eval arg('machine') == 'remote')"/>
		<arg name="pose" value="$(arg pose)" />
		<arg name="port" value="localhost:8105" if="$(eval arg('machine') == 'mobilesim')"/>
		</include>

</launch>
