<launch>
	<arg name="hostname" default="robot1"/>
	<arg name="machine" default="remote"/> <!-- remote, mobilesim, or gazebo -->
	<arg name="pose" default="odom" /> <!-- odom, vicon, or gazebo -->
	<arg name="port" />

	<include file="$(find pioneer_mrs)/config/robots.machine" />

	<include file="$(find pioneer_mrs)/config/robot.xml" ns="$(arg hostname)">
		<arg name="hostname" value="$(arg hostname)" />
		<arg name="machine" value="$(arg hostname)" if="$(eval arg('machine') == 'remote')"/>
		</include>

</launch>
